.error-container {
    display: flex;
    height: 300px;
    margin: 10px 0 10px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .error-image {
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  .error-title {
    font-size: var(--font-size-xlarge);
    margin-bottom: 10px;
  }
  
  .error-message {
    font-size: var(--font-size-large);
    margin-bottom: 10px;
    color: red;
  }
  
  .error-details {
    font-size: var(--font-size-medium);
    color: var(--secondary-text-color); /* Color de texto más claro para detalles */
  }
  