.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .error-image {
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  .error-title {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .error-message {
    font-size: 2rem;
    margin-bottom: 10px;
    color: red; /* Cambia el color según tu preferencia */
  }
  
  .error-details {
    font-size: 1rem;
    color: var(--secondary-text-color); /* Color de texto más claro para detalles */
  }
  