@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap&family=Lexend:wght@700;900&display=swap");

* {
  box-sizing: border-box;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #3f4143;
}

body {
  background-color: #ecf0f1;
  color: #3f4143;
  font-family: "Fragment Mono", monospace;
}

footer {
  margin: 50px auto 10px auto;
}

/* desktop */
