@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap");

* {
  box-sizing: border-box;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #3f4143;
}

body {
  background-color: #ecf0f1;
  color: #3f4143;
  font-family: 'Jost', sans-serif;
}

footer {
  padding: 20px;
  text-align: center;
}

footer div {
  margin-bottom: 10px;
}

/* Estilos para los enlaces de redes sociales */
.social-media {
  margin-bottom: 20px;
}

.social-media ul {
  padding: 0;
}

.social-media ul li {
  display: inline-block;
  margin-right: 10px;
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #333; /* Color del texto de los enlaces (puedes cambiarlo según tu preferencia) */
}

footer a:hover {
  color: #8f9090;
}


/* desktop */
